.list {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('/static/img/white.gif');
}

[data-theme="dark"] .list {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('/static/img/black.gif');
}
